<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../public/styles/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
</head>
<body class="confirm">
    <h1>Thank you for registering</h1>
    <p>Here is your registration information:</p>

    <section>
    <p><span>Name:</span><%= userdata.name %></p>
    <p><span>Email:</span><%= userdata.email %></p>
    <p><span>Birthday:</span><%= userdata.birthday %></p>
    <p><span>Country:</span><%= userdata.country %></p>
    </section>
    
    <form method="POST" action="/delete">
        <input type="hidden" name="delete" value="<%= userdata.name %>">
        <button type="submit">Verwijder account</button>
    </form>

    <a href="/">Go to the home page</a>
</body>
</html>
